<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body{
            font-family: Calibri, Helvetica, sans-serif;
            background-color: pink;
            }
            .container {
                padding: 50px;
            background-color: lightblue;
            }
            input[type=number], textarea {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
            }
            input[type=number]:focus,{
            background-color: orange;
            outline: none;
            }
            div {
                        padding: 10px 0;
                    }
            hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
            }
            .search {
            background-color: #4CAF50;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 10%;
            opacity: 0.9;
            }
            .search:hover {
            opacity: 1;
            }
            </style>

    </head>
    <body>
        <section class="header">
            <h1>Supply Chain Tracking System</h1>
            <p>Kalyani</p>
        </section>
        <div class="navbar">
            <a href="contact">Contact Us</a>
            <a href="admin">Administrator Login</a>
            <a href="http://localhost:8080/"> Home</a>
        </div>
        <div  class="container">
            <center>  <h1> Tracking a Product</h1> </center>
            <hr>
            <div class="row">
                <div class="col-25">
                    <label>Product ID :</label>
                </div>
                <div class="col-75">
                    <input type="number" name="productID"><br><br>
                </div>
            </div>
            <button type="submit" class="search">Search</button>
        </div>
    </body>
</html>